# Configuración de Eclipse
.settings/
.metadata/
local.properties
*.bak
*.tmp
*.swp
*~.nib
.loadpath

# Salidas de compilación y directorios de destino
bin/
target/

# Archivos temporales y de log
*.tmp
*.log

# Configuraciones de otros IDE (por ejemplo, VSCode, IntelliJ)
.vscode/
.idea/

# Archivos y carpetas generados por Maven (si aplica)
log/
*.log

# Archivos compilados
*.class

# Archivos empaquetados (si se generan)
*.jar
*.war
*.ear
*.tar.gz
*.zip
*.rar

# virtual machine crash logs
hs_err_pid*

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db
